body {
	margin: 0;
	padding: 0;
}
.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}
.main {
    background: #fff;
    position: relative;
    z-index: 3;
}
.section, .section-image {
    background-position: 50%;
    background-size: cover;
}
.section {
    padding: 70px 0;
}
*{
	font-family: 'Quicksand';
}
.site-header{
	position: relative;
}
.navbar .navbar-nav li a{
	color: #fff;
	font-size: 20px;
}
.navbar {
  min-height: 40px;
}

.navbar-brand {
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
}

.carousel-inner img{
	background-size: cover;	
	width: 100%;
	height: 800px;
}
.carousel-caption {
	text-align: left;
	left: 0;
	top: 2%;
	width: 50%;
	margin-left: 15%
}
.carousel-caption h1{
	font-size: 5em;
}

.btn-outline-success {
	color: #fff;
	border-color: #fff;
	border-radius: 20px;
}

.zoom{
	position: relative;
	overflow: hidden;
}

.zoom:hover img {
	transform: scale(1.1);
	-moz-transform : scale(1.1);
	-webkit-transform: scale(1.1);
}

.zoom img{
	transition: all 0.3s;
	-moz-transition : all 0.3s;
	-webkit-transition: all 0.3s;
}
.modal-content{
	align-items: center;
}
.btn-fb{
	background-color: #0000fc;
	color: #fff;
	width: 200px;
}

.btn-light{
	width: 200px;
}

.btn-dark{
	border-radius: 20px;
	border-color: transparent;
}
footer .copyright {
    padding: 15px 0;
}

footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
footer ul li {
    display: inline-block;
}

footer ul li a, footer ul li a:hover {
    text-decoration: none;
}
footer ul li a {
    color: inherit;
    padding: .9375rem;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
    display: block;
}

.ripple-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    border-radius: inherit;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
