body {
	margin: 0;
	padding: 0;
}
.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}
.main {
    background: #fff;
    position: relative;
    z-index: 3;
}
.section, .section-image {
    background-position: 50%;
    background-size: cover;
}
.section {
    padding: 70px 0;
}
*{
	font-family: 'Quicksand';
}
a{
	text-decoration: none;
}
.site-header{
	position: relative;
}
.navbar .navbar-nav li a{
	font-size: 15px;
}
.navbar {
  min-height: 40px;
}

.navbar-brand {
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
}
.profile-img{
    margin-right: 5px;
    float: left;
    background: url(img/user.png) 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    width: 30px;
    height: 30px;
}
.carousel-inner img{
	background-size: cover;	
	width: 100%;
	height: 565px;
}
.carousel-caption {
	text-align: left;
	left: 0;
	top: 2%;
	width: 50%;
	margin-left: 15%
}
.carousel-caption h1{
	font-size: 5em;
}

.btn-outline-success {
	color: #fff;
	border-color: #fff;
	border-radius: 20px;
}

.zoom{
	position: relative;
	overflow: hidden;
}

.zoom:hover img {
	transform: scale(1.1);
	-moz-transform : scale(1.1);
	-webkit-transform: scale(1.1);
}

.zoom img{
	transition: all 0.3s;
	-moz-transition : all 0.3s;
	-webkit-transition: all 0.3s;
}
.modal-content{
	border-radius: 0;
	border: 1px solid #27ab27; 
}
.btn-fb{
	width: 75%;
	margin: 0 auto auto;
	background-color: #3b5998;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: 700;
	cursor: pointer;
}
.separator{
    width: 75%;
    margin: 5px auto;
}
.strike{
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.btn-google {
    width: 75%;
    margin: 0 auto auto;
    background-color: #e04050;
    color: #fff;
    padding: 9px 15px 8px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.btn-dark{
	border-radius: 20px;
	border-color: transparent;
}
footer .copyright {
    padding: 15px 0;
}

footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
footer ul li {
    display: inline-block;
}

footer ul li a, footer ul li a:hover {
    text-decoration: none;
}
footer ul li a {
    color: inherit;
    padding: .9375rem;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
    display: block;
}

.ripple-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    border-radius: inherit;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section-title {
    margin-bottom: 15px;
    margin-top: 20px;
}
.h3, h3 {
    font-size: 24px;
}
.profile-header {
    padding: 0 15px;
    border-bottom: 1px solid #eee;
}
.profile-picture {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 15px 15px 0;
    background-size: cover;
    background-position: 50%;
}
.profile-data-head {
    display: inline-block;
    height: 120px;
    vertical-align: top;
}
.profile-header-edit-container {
    width: auto;
    float: right;
}
.visible-lg {
    display: block;
}
.profile-caption {
    padding: 0 15px;
    border-bottom: 1px solid #eee;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table-title {
    width: 115px;
    color: #aaa;
}
